@import '@mantine/core/styles.css';

:root {
  --mantine-font-family: 'Plus Jakarta Sans', sans-serif;
  --mantine-font-family-headings: 'Plus Jakarta Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
